.aboutbar{
    height: 52px;
    background-color: #FF6060;
    width: 100%;
    border-radius: 5px; 
    display: flex;
    align-items: center ;

    
}

.button{
        left: 980px;
    }


@media screen and (max-width: 400px)
    {   
    .button{
        left: 293px;
    }      
    }