.deroulants{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .button{
        right: 2%;
    } 
}

h3{
    color: white;
    margin-left: 15px;
   }


.description{
    width: 47%;
}

.equipements    {       
    width: 47%;
    .content{
        padding: 0;
    }
    ul{
        list-style: none;
        color: #FF6060;
        padding-left: 20px;
            
    }
}


@media screen and (max-width: 767px)
{
    .deroulants{
        flex-direction: column;
        
        .content{
            font-size: 12px;
        }
        h3{
            font-size: 13px;
            margin-left: 10px;
        }
    
        img{
            width: 16px;
          }   
        ul{
            font-size: 12px;
        }

    }
    .description{
        width: 100%;
        margin-bottom: 20px;
       
    }
    .equipements{
        width: 100%;

        .aboutbar{
            height: 32px;
            }

    }
        

}