.host{
    display: flex;
    margin-bottom: 21px;
    justify-content: end;
  }

.hostname{
    text-align: end;
}

.hostimage{
  border-radius: 50%;
  width: 64px;
  margin-top: -6px;
  margin-left: 10px;
}

@media screen and (max-width: 767px)
		{   
      .host{
        height: 33px;
      }

      .hostname{
        font-size: 12px;
        display: flex;
        align-items: center;      
}


     .hostimage{
      width: 32px;
      margin-top: 0;
     }    
		}