.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: column;
    
}

h2{
    line-height: 51px;
    margin: 0;
}
h4{
    margin: 0;
    color: #FF6060;
   
}


@media screen and (max-width: 767px)
{   
.container{
    margin-top: 0;
    height: auto;
}      
h2{
    line-height: normal;
}

}
