.listabout{
    width: 82.5%;
    margin-top: 38px;
    margin-bottom: 38px;
    
    
    ul{        
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li{
       background-color: #F6F6F6;
       margin-bottom: 30px;
       border-radius: 0 0 5px 5px;
    }


    h3{
        color: white;
        margin-left: 15px;
       }
    }


@media screen and (max-width: 767px)
		{   
		.listabout{
            width: 100%;

            img{
              width: auto;
            }

        li{
            margin-bottom: 20px;
        }    
        }      
		}