.navigation{
    width: 309px;

    ul{
        list-style-type: none;
        padding: 0;
    }

    a{
       color: #FF6060; 
       text-decoration: none;
    }

    .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    font-size: 24px; 
    
}


.nav-active {
    text-decoration-line: underline; 
  }
}

@media screen and (max-width: 767px)
		{   
		.navigation{
          width: 56%;

            .nav{
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 500; 
            width: auto;
            justify-content: end;
            flex-wrap: nowrap;

            a{
              margin-left: 20px;
            }
          } 
           
		}
  }