.tag {
        display: flex;
        background-color: #FF6060;
        justify-content: center;
        border-radius: 10px;
        width: auto;
        min-width: 115px;
        padding-left: 10px;
        padding-right: 10px;
        height: 25px;
        color: white;
        margin-right: 10px;
        margin-bottom: 10px;
        align-items: center;
}


@media screen and (max-width: 767px) {

    .tag {
        min-width: 74px;
        font-size: 10px;
        height: auto;
        min-height: 18px;        
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;

    }
}